h1 {
  font-size: 3em;
  color: pink;
  text-align: center;
}

.menu {
  display: flex;
  justify-content: space-evenly;
}

/* .menu img {
  width: 20em;
} */


/* **********************************************  FOTO SIDE EYE  **********************************************  */
/*  https://codepen.io/houspod/pen/AwXJXz?editors=1100 */

.highschool a {
  text-decoration: highschool;
}



.highschool,
.cultuur,
.gastgezin,
.reizen {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
  width: 420px;
  height: 300px;
  overflow: hidden;
}


/* gaat om de tekst */
.highschool>*,
.cultuur>*,
.gastgezin>*,
.reizen>* {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.highschool .tekst1 {
  position: relative;
  z-index: 2;
  width: 100%;
  height: auto;
  font: 0/0 a;
}

.highschool:hover .tekst1:after {
  content: "High School";
  font-weight: bold;
  font-size: 72px;
  font-family: sans-serif;
  line-height: 1;
  Color: white;
}

.highschool:hover .overlay,
.cultuur:hover .overlay,
.gastgezin:hover .overlay,
.reizen:hover .overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin-right: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.highschool img,
.cultuur img,
.reizen img {
  position: absolute;
  /* top: 0;
  left: 0;
  margin-right: 0; */
  /* z-index: 0; */
  width: 100%;
  height: auto;
}

.gastgezin img {
  position: absolute;
  top: 0;
  left: 0;
  margin-right: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}


/* **********************************************  FOTO KERSTBOOM  **********************************************  */

.cultuur a {
  text-decoration: gastgezin;
}

.cultuur .tekst2 {
  position: relative;
  z-index: 2;
  width: 100%;
  height: auto;
  font: 0/0 a;
}

.cultuur:hover .tekst2:after {
  content: "geil";
  font-weight: bold;
  font-size: 72px;
  font-family: sans-serif;
  line-height: 1;
  Color: white;
}




/* **********************************************  FOTO FAMILY GUY  **********************************************  */


.cultuur a {
  text-decoration: gastgezin;
}

.gastgezin .tekst3 {
  position: relative;
  z-index: 2;
  width: 100%;
  height: auto;
  font: 0/0 a;
}

.gastgezin:hover .tekst3:after {
  content: "gastgezin";
  font-weight: bold;
  font-size: 72px;
  font-family: sans-serif;
  line-height: 1;
  Color: white;
}


/* **********************************************  FOTO NYC  **********************************************  */


.reizen a {
  text-decoration: reizen;
}

.reizen .tekst4 {
  position: relative;
  z-index: 2;
  width: 100%;
  height: auto;
  font: 0/0 a;
}

.reizen:hover .tekst4:after {
  content: "reizen";
  font-weight: bold;
  font-size: 72px;
  font-family: sans-serif;
  line-height: 1;
  Color: white;
}